/* This is base style classes */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* antielias */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* font */
    font-family: 'Poppins', sans-serif;

}

/* || display classes */
.flex{
    display: flex;
}

.grid{
    display: grid;
}

.none{
    display: none;
}

.block{
    display: block;
}

.inline-block{
    display: inline-block;
}

.inline{
    display: inline;
}


/* || flexbox classes */
.justify-center{
    justify-content: center;
}

.justify-between{
    justify-content: space-between;
}

.justify-around{
    justify-content: space-around;
}

.justify-evenly{
    justify-content: space-evenly;
}

.align-center{
    align-items: center;
}

.align-start{
    align-items: flex-start;
}

.align-end{
    align-items: flex-end;
}

.flex-column{
    flex-direction: column;
}

.flex-row{
    flex-direction: row;
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex-nowrap{
    flex-wrap: nowrap;
}

/* || position clasess */
.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.fixed{
    position: fixed;
}

.sticky{
    position: sticky;
}


/* || text classes */
.text-center{
    text-align: center;
}

.no-underline{
    text-decoration: none;
}

.text-white{
    color: #fff;
}




