html {
  width: 100%;
}

header {
  opacity: 0.7;
}

header:hover {
  opacity: 1;
}


/* Column container */
.row {
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 35%;
  background-color: #3b3877;
  padding: 20px;
}

/* Main column */
.main {
  flex: 65%;
  background-color: #24217a;
  padding: 20px;
}

.title_logo {
  display: inline-block;
}

.card {
  font-family: 'Courier New', Courier, monospace;
}

h1 {
  font-weight: bolder;
}