@import url('./base.css');

/* Path: styles\set-game.css */


.set-bord{
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 2rem;
    margin: 1rem;
    padding: 1rem;
    background-color: #F2F2F2;
}

.card{
    border-radius: 5px;
    border: 1px solid rgba(22, 4, 4, 0.166);
    box-shadow: 10px 10px 10px #ccc;
}

.card img{
    height: 90%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.card:hover{
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
}

.selected{
    border: 2px solid #1e446f;
    box-shadow: 10px 10px 10px #ccc;
}